<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.telerik.dropbox" version="1.0.5" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Dropbox</name>
    <description>Cordova SDK</description>

    <preference name="APP_KEY"/>
    <preference name="APP_SECRET"/>

    <js-module name="dropbox" src="www/dropbox.js">
        <clobbers target="dropbox"/>
    </js-module>

    <engines>
        <engine name="cordova" version=">=6.4.0" />
        <engine name="cordova-ios" version=">=4.3.0" />
        <engine name="cordova-android" version=">=5.1.0" />
        <engine name="apple-xcode" version=">=8.0.0" />
        <engine name="apple-ios" version=">=7.0.0" />
    </engines>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="Dropbox">
                <param name="ios-package" value="CDVDropbox"/>
            </feature>
        </config-file>

        <header-file src="src/ios/CDVDropbox.h" />
		<source-file src="src/ios/CDVDropbox.m" />

		<header-file src="src/ios/AppDelegate+dropbox.h" />
		<source-file src="src/ios/AppDelegate+dropbox.m" />

        <framework src="SystemConfiguration.framework"/>
        <framework src="CFNetwork.framework"/>
        <framework src="Security.framework"/>
        <framework src="QuartzCore.framework"/>
        <framework src="libz.dylib"/>
        <framework src="libc++.dylib"/>

        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods use-frameworks="true">
                <pod name="ObjectiveDropboxOfficial" spec="~> 3.10" />
            </pods>
        </podspec>

        <config-file target="*-Info.plist" parent="DropboxAppKey">
            <string>$APP_KEY</string>
        </config-file>

        <config-file target="*-Info.plist" parent="DropboxAppSecret">
            <string>$APP_SECRET</string>
        </config-file>

        <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
            <array>
                <string>dbapi-8-emm</string>
                <string>dbapi-2</string>
            </array>
        </config-file>

        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>db-$APP_KEY</string>
                    </array>
                </dict>
            </array>
        </config-file>

    </platform>


    <platform name="android">
        <config-file target="res/values/strings.xml" parent="/*">
            <string name="dropbox_app_key">$APP_KEY</string>
            <string name="dropbox_app_secret">$APP_SECRET</string>
        </config-file>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Dropbox">
                <param name="android-package" value="com.telerik.dropbox.DropboxPlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                    android:name="com.dropbox.core.android.AuthActivity"
                    android:launchMode="singleTask">
                <intent-filter>
                    <data android:scheme="db-$APP_KEY"/>
                    <action android:name="android.intent.action.VIEW"/>
                    <category android:name="android.intent.category.BROWSABLE"/>
                    <category android:name="android.intent.category.DEFAULT"/>
                </intent-filter>
            </activity>
        </config-file>
        <framework src="com.dropbox.core:dropbox-core-sdk:3.0.7" />
        <source-file src="src/android/DropboxClientFactory.java" target-dir="src/com/telerik/dropbox"/>
        <source-file src="src/android/UploadFileTask.java" target-dir="src/com/telerik/dropbox"/>
        <source-file src="src/android/DropboxPlugin.java" target-dir="src/com/telerik/dropbox"/>


    </platform>

</plugin>
